@media (max-width: 1920px) {
}
@media (max-width: 1680px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1152px) {
}
@media (max-width: 1080px) {
}
@media (max-width: 1050px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 900px) {
}
@media (max-width: 854px) {
}
@media (max-width: 800px) {
}
@media (max-width: 768px) {
}
@media (max-width: 736px) {
}
@media (max-width: 732px) {
}
@media (max-width: 667px) {
}
@media (max-width: 640px) {
}
@media (max-width: 568px) {
}
@media (max-width: 540px) {
}
@media (max-width: 480px) {
}
@media (max-width: 414px) {
}
@media (max-width: 412px) {
}
@media (max-width: 375px) {
}
@media (max-width: 360px) {
}
@media (max-width: 320px) {
}