<title>Project Title</title>
<meta name="keywords" content="Project keywords">
<meta name="description" content="Project description">

<link rel="canonical" href="http://example.com/2017/09/a-new-article-to-red.html">
<link rel="alternate" href="https://en.example.com/" hreflang="en">